<h1>Tweet easy ICI</h1>

<form accept-charset="UTF-8" action="/" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="form-group">
    <label for="exampleInputPassword1">Coucou tweet ICI</label>
    <input type="text" name="tweet" class="form-control" id="tweet" placeholder="Lâche ton tweet" >
  </div>
    <button type="submit" class="btn btn-primary">Balance ton gazouillis</button>
</form>

